@import "reset"
@import "variables"
@import "utils"

html, body
  background transparent url($bgImgUrl) repeat 0 0
  
body #page
  width 990px
  margin 0 auto
  color $textColor
  
#hd
  margin 20px 0
  position relative
  
  ul
    text-align right
  
    li
      display inline
      color $delightTextColor
    li.active
      color $highlightTextColor  
      
      
#bd
  background transparent url($treeImgUrl) no-repeat 0 0
  margin-top 180px
  width 990px 
  height 1421px
  z-index 100
  position relative
  
  .brief-info
    position absolute
    top -78px
    left 140px
    
    h1
      font-size 48px
      margin-bottom 20px
      margin-left 25px
      
      b
        border-bottom 1px solid #999
              
      .last-name
        color $highlightTextColor

    .net-info
      p
        padding 5px 0 0 40px
        
      .blog
        background transparent url($blogImgUrl) no-repeat 0 0
        height 32px
        font-size 24px
        
      .blog-remark
        color $delightTextColor
      
      .email
        background transparent url($emailImgUrl)  no-repeat 0 0
        height 32px
        font-size 24px
      
  
  .avatar
    background-image url($avatarImgUrl)
    display inline-block
    width 244px
    height 244px
    position absolute
    left 533px
    top -122px

  .dots-wrap 
  
    .dots 
      position absolute
      
      .dot
        background-image url($dotImgUrl)
        position absolute
        display inline-block
        width 57px
        height 57px
        z-index 10
      
    .dots:hover
      
      .dot
        background-image url($dotActiveImgUrl)
        width 86px
        height 86px
        left -15px
        top -15px   
    
    //milestones
    .milestones
      width 400px
      font-size 20px
      line-height 20px
      position absolute
      .title
        margin-bottom 10px
        h3
          color $highlightTextColor
          font-size 22px
        .summary
          margin-top 5px
          display inline-block
      ul
        li
          cursor pointer
        .small-dot
          background-image url($smallDotImgUrl)
          display inline-block
          width 38px
          height 38px
          position absolute
          display none
    
    //first  
    .dots:nth-child(1)
      top 220px
      left 388px
      
      .milestones
        text-align right
        position absolute 
        right 15px
        top -5px
        
      
    //second
    .dots:nth-child(2)
      top 380px
      left 448px
      
      .leaves
        background-image url($leaviesImg("left", 1))
        width 60px
        height 74px
        display inline-block
        position absolute
        top 50px
        right -28px
        
      .milestones
        text-align right
        top 48px
        right 40px
        
        li:nth-child(1):hover
          .small-dot
            right -38px
            top 47px
            display inline-block
          
        
    //third
    .dots:nth-child(3)
      top 540px
      left 547px
      
      .leaves
        background-image url($leaviesImg("right", 4))
        width 144px
        height 134px
        display inline-block
        position absolute
        top 40px
        left 35px
      .milestones
        top -2px
        left 140px
        ul 
          li
            margin-bottom 10px
          li:nth-child(1)
            margin-left -10px
          li:nth-child(1):hover
            .small-dot
              display inline-block
              top 52px
              left -46px
              
          li:nth-child(2)
            margin-left 5px
          li:nth-child(2):hover
            .small-dot
              display inline-block
              top 81px
              left -28px
              
          li:nth-child(3)
            margin-left 25px
          li:nth-child(3):hover
            .small-dot
              display inline-block
              top 109px
              left -11px
          li:nth-child(4)
            margin-left 42px
          li:nth-child(4):hover
            .small-dot
              display inline-block
              top 138px
              left 7px
      
    //fourth
    .dots:nth-child(4)
      top 700px
      left 466px
      
    //fifth
    .dots:nth-child(5)
      top 860px
      left 381px
    
    //sixth
    .dots:nth-child(6)
      top 1020px
      left 420px
      
    
  

#ft
  background transparent url($treeImgUrl) repeat-x -899px -1393px
  height 28px
  width 100%
  margin-top -28px