$bgImgUrl = "../images/bg.png"
$treeImgUrl = "../images/tree.png"
$avatarImgUrl = "../images/avatar.png"
$blogImgUrl = "../images/blog.png"
$emailImgUrl = "../images/email.png"
$dotImgUrl = "../images/dot.png"
$smallDotImgUrl = "../images/small_dot.png"
$dotActiveImgUrl = "../images/dot_active.png"


$highlightTextColor = #5ab632
$delightTextColor = #999
$textColor = #333 
