$bgImgUrl = "../images/bg.png"
$treeImgUrl = "../images/tree.png"
$avatarImgUrl = "../images/avatar.png"
$markersImgUrl = "../images/markers.png"
$treeSpriteImgUrl = "../images/tree_sprite.png"
$leafImrUrl = "../images/leaf.png"


$highlightTextColor = #5ab632
$delightTextColor = #999
$textColor = #333 
$footerTextColor = #ddddda
