html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: $baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.popover .popover-title {
  text-align: center;
}
.popover .popover-title a {
  text-decoration: none;
  color: #369;
}
.popover ul li {
  background: transparent url("../images/leaf.png") no-repeat 0 0;
  padding: 0 5px 0 20px;
  margin-bottom: 5px;
  max-width: 430px;
  line-height: 20px;
}
.popover ul li span {
  display: inline-block;
  vertical-align: text-top;
  width: 300px;
}
.hide {
  display: none;
}
html,
body {
  background: transparent url("../images/bg.png") repeat 0 0;
  font-family: 'Microsoft YaHei' false;
}
body #page {
  width: 990px;
  margin: 0 auto;
  color: #333;
}
#hd {
  margin: 20px 0;
  position: relative;
}
#hd ul {
  text-align: right;
}
#hd ul li {
  display: inline;
  color: #999;
  cursor: pointer;
}
#hd ul li.active {
  color: #5ab632;
}
#bd {
  background: transparent url("../images/tree.png") no-repeat 0 0;
  margin-top: 180px;
  width: 990px;
  height: 1421px;
  z-index: 100;
  position: relative;
}
#bd .brief-info {
  position: absolute;
  top: -78px;
  left: 140px;
}
#bd .brief-info h1 {
  font-size: 48px;
  margin-bottom: 20px;
  margin-left: 40px;
}
#bd .brief-info h1 b {
  border-bottom: 1px dashed #999;
}
#bd .brief-info h1 .last-name {
  color: #5ab632;
}
#bd .brief-info .net-info p {
  padding: 5px 0 0 40px;
}
#bd .brief-info .net-info .blog,
#bd .brief-info .net-info .email {
  background: transparent url("../images/markers.png") no-repeat 0 0;
}
#bd .brief-info .net-info .blog {
  background-position: 0 0;
  height: 32px;
  font-size: 24px;
}
#bd .brief-info .net-info .blog-remark {
  color: #999;
}
#bd .brief-info .net-info .email {
  background-position: 0 -34px;
  height: 32px;
  font-size: 24px;
}
#bd .avatar {
  background-image: url("../images/avatar.png");
  display: inline-block;
  width: 244px;
  height: 244px;
  position: absolute;
  left: 533px;
  top: -122px;
}
#bd .dots-wrap .dots .dot,
#bd .dots-wrap .dots:hover .dot,
#bd .dots-wrap .dots .small-dot,
#bd .dots-wrap .dots .leaves {
  background: transparent url("../images/tree_sprite.png") no-repeat 0 0;
}
#bd .dots-wrap .dots {
  position: absolute;
}
#bd .dots-wrap .dots .dot {
  background-position: 0 0;
  position: absolute;
  display: inline-block;
  width: 57px;
  height: 57px;
  z-index: 10;
}
#bd .dots-wrap .dots:hover .dot {
  background-position: 0 -59px;
  width: 86px;
  height: 86px;
  left: -15px;
  top: -15px;
}
#bd .dots-wrap .milestones {
  width: 430px;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
}
#bd .dots-wrap .milestones .title {
  margin-bottom: 10px;
}
#bd .dots-wrap .milestones .title h3 {
  color: #5ab632;
  font-size: 22px;
}
#bd .dots-wrap .milestones .title .summary {
  margin-top: 5px;
  display: inline-block;
}
#bd .dots-wrap .milestones ul li {
  cursor: pointer;
  display: inline-block;
}
#bd .dots-wrap .milestones ul .small-dot {
  background-position: 0 -1048px;
  display: inline-block;
  width: 38px;
  height: 38px;
  position: absolute;
  display: none;
}
#bd .dots-wrap .milestones ul a {
  text-decoration: none;
  color: #369;
}
#bd .dots-wrap .milestones ul a:hover {
  color: #5ab632;
}
#bd .dots-wrap .milestones .details {
  display: none;
}
#bd .dots-wrap .dots:nth-child(1) {
  top: 220px;
  left: 388px;
}
#bd .dots-wrap .dots:nth-child(1) .milestones {
  text-align: right;
  position: absolute;
  right: 15px;
  top: -5px;
}
#bd .dots-wrap .dots:nth-child(2) {
  top: 380px;
  left: 448px;
}
#bd .dots-wrap .dots:nth-child(2) .leaves {
  background-position: 0 -165px;
  width: 60px;
  height: 74px;
  display: inline-block;
  position: absolute;
  top: 50px;
  right: -28px;
}
#bd .dots-wrap .dots:nth-child(2) .milestones {
  text-align: right;
  top: 48px;
  right: 40px;
}
#bd .dots-wrap .dots:nth-child(2) .milestones li:nth-child(1):hover .small-dot {
  right: -38px;
  top: 47px;
  display: inline-block;
}
#bd .dots-wrap .dots:nth-child(3) {
  top: 520px;
  left: 543px;
}
#bd .dots-wrap .dots:nth-child(3) .leaves {
  background-position: 0 -912px;
  width: 144px;
  height: 134px;
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 35px;
}
#bd .dots-wrap .dots:nth-child(3) .milestones {
  top: -2px;
  left: 140px;
}
#bd .dots-wrap .dots:nth-child(3) .milestones ul li {
  margin-bottom: 10px;
}
#bd .dots-wrap .dots:nth-child(3) .milestones ul li:nth-child(1) {
  margin-left: -8px;
}
#bd .dots-wrap .dots:nth-child(3) .milestones ul li:nth-child(1):hover .small-dot {
  display: inline-block;
  top: 52px;
  left: -46px;
}
#bd .dots-wrap .dots:nth-child(3) .milestones ul li:nth-child(2) {
  margin-left: 7px;
}
#bd .dots-wrap .dots:nth-child(3) .milestones ul li:nth-child(2):hover .small-dot {
  display: inline-block;
  top: 81px;
  left: -28px;
}
#bd .dots-wrap .dots:nth-child(3) .milestones ul li:nth-child(3) {
  margin-left: 27px;
}
#bd .dots-wrap .dots:nth-child(3) .milestones ul li:nth-child(3):hover .small-dot {
  display: inline-block;
  top: 109px;
  left: -11px;
}
#bd .dots-wrap .dots:nth-child(3) .milestones ul li:nth-child(4) {
  margin-left: 44px;
}
#bd .dots-wrap .dots:nth-child(3) .milestones ul li:nth-child(4):hover .small-dot {
  display: inline-block;
  top: 138px;
  left: 7px;
}
#bd .dots-wrap .dots:nth-child(4) {
  top: 740px;
  left: 430px;
}
#bd .dots-wrap .dots:nth-child(4) .leaves {
  background-position: 0 -806px;
  width: 121px;
  height: 104px;
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 30px;
}
#bd .dots-wrap .dots:nth-child(4) .milestones {
  top: -2px;
  left: 135px;
}
#bd .dots-wrap .dots:nth-child(4) .milestones ul li {
  margin-bottom: 10px;
}
#bd .dots-wrap .dots:nth-child(4) .milestones ul li:nth-child(1) {
  margin-left: -8px;
}
#bd .dots-wrap .dots:nth-child(4) .milestones ul li:nth-child(1):hover .small-dot {
  display: inline-block;
  top: 52px;
  left: -46px;
}
#bd .dots-wrap .dots:nth-child(4) .milestones ul li:nth-child(2) {
  margin-left: 10px;
}
#bd .dots-wrap .dots:nth-child(4) .milestones ul li:nth-child(2):hover .small-dot {
  display: inline-block;
  top: 81px;
  left: -28px;
}
#bd .dots-wrap .dots:nth-child(4) .milestones ul li:nth-child(3) {
  margin-left: 27px;
}
#bd .dots-wrap .dots:nth-child(4) .milestones ul li:nth-child(3):hover .small-dot {
  display: inline-block;
  top: 109px;
  left: -11px;
}
#bd .dots-wrap .dots:nth-child(5) {
  top: 900px;
  left: 381px;
}
#bd .dots-wrap .dots:nth-child(6) {
  top: 1060px;
  left: 448px;
}
#ft {
  background: transparent url("../images/tree.png") repeat-x -899px -1393px;
  height: 28px;
  width: 100%;
  margin-top: -28px;
  position: relative;
  z-index: 1001;
}
#ft .copyright {
  width: 320px;
  margin: 0 auto;
  line-height: 28px;
  color: #ddddda;
}
#ft .copyright a {
  text-decoration: none;
  color: #ddddda;
}
.degrade-info {
  width: 950px;
  margin: 200px auto;
}
.degrade-info h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
.degrade-info ul {
  overflow: hidden;
  margin-bottom: 30px;
}
.degrade-info ul li {
  float: left;
  margin-right: 10px;
  line-height: 25px;
}
.degrade-info a {
  text-decoration: none;
  color: #369;
  line-height: 25px;
}
